<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="logotype">CollectCard App</span>
    <button mat-button routerLink="/">Главная</button>
    <button mat-button routerLink="/collections">Коллекции</button>
    <button mat-button routerLink="/cards">Карточки</button>
    <button mat-button routerLink="/cards/get" *ngIf="_authService.loggedIn()">Получить карточки</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/login" *ngIf="!_authService.loggedIn()">Войти</button>
    <button mat-button routerLink="/register" *ngIf="!_authService.loggedIn()">Регистрация</button>
    <button mat-button routerLink="/profile" *ngIf="_authService.loggedIn()">Профиль</button>
    <button mat-button (click)="_authService.logoutUser()" *ngIf="_authService.loggedIn()">Выйти</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>